body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  font-weight: 300;
}

.container {
  margin: 0 auto;
  width: 570px;
}

header, section {
  padding: 100px 0;
}

.inverse {
  color: #ffffff;
  background-color: #252525;
}

.inverse .btn:hover, .inverse .btn:focus {
  background: #ffffff;
  color: #252525;
}

h1, h2 {
  font-weight: 300;
  margin-top: 0;
}

h1 {
  font-size: 60px;
}

h1 .accent-text {
  font-size: 80px;
}

h2 {
  font-size: 42px;
  border-top: solid 1px #c4c4c4;
  border-bottom: solid 1px #c4c4c4;
  padding: 20px 0;
  margin-bottom: 20px;
}

h2 .accent-text {
  font-size: 60px;
}

h3 {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

a {
  color: #99D930;
  font-weight: 900;
}

a:hover, a:focus {
  color: #131313;
}

.accent-text {
  display: block;
}

.accent-text, .name, time {
  font-weight: 900;
  color: #99d930;
}

.small-text {
  font-size: 16px;
  margin-top: 5px;
}

.btn {
  display: inline-block;
  color: #252525;
  text-decoration: none;
  background: #99d930;
  padding: 10px 25px;
  margin-top: 25px;
}

.btn:hover, .btn:focus {
  background-color: #252525;
  color: #ffffff;
}
